

.DockerTS-CollapserHeader {    
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;

    align-items: center;
    align-content: center;

    user-select: none;
    cursor: pointer;

    color: var(--docker-ts-inactive-on-color);
    background: var(--docker-ts-inactive-color);

    box-shadow: inset 0 0 0 1px #666;

    gap: 8px;
}

.DockerTS-CollapserHeader--Left {
    width: var(--docker-ts-header-thickness);
    flex-direction: column-reverse;
    padding-top: 0.75rem;
    padding-bottom: 0.5rem;
}

.DockerTS-CollapserHeader--Right {
    padding-top: 0.5rem;
    gap: 6px;
    padding-bottom: 0.75rem;
    width: var(--docker-ts-header-thickness);
    flex-direction: column;
}

.DockerTS-CollapserHeader--Down {
    padding-left: 0.5rem;
    padding-right: 0.75rem;
    height: var(--docker-ts-header-thickness);
    flex-direction: row;
}

.DockerTS-CollapserHeader__Icon {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    
    color: var(--docker-ts-inactive-on-color);
    fill: var(--docker-ts-inactive-on-color);
    stroke: var(--docker-ts-inactive-on-color);
}

.DockerTS-CollapserHeader__Icon svg {
    width: inherit;
    height: inherit;
}

.DockerTS-CollapserHeader__Title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.DockerTS-CollapserHeader--Left .DockerTS-CollapserHeader__Title {
    writing-mode: vertical-lr;
    vertical-align: top;
    transform: rotate(180deg);
}

.DockerTS-CollapserHeader--Right .DockerTS-CollapserHeader__Title {
    writing-mode: vertical-lr;
    vertical-align: top;
}

.DockerTS-CollapserHeader--Down .DockerTS-CollapserHeader__Title {
    
}
