
.DockerTS-SplitterPanelWrapper {
    position: relative;
    display: grid;
}

.DockerTS-SplitterPanel {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    display: grid;
}

.DockerTS-SplitterPanel--Row {
    grid-template-columns: var(--docker-ratio-mapping);
}

.DockerTS-SplitterPanel--Column {
    grid-template-rows: var(--docker-ratio-mapping);
}

.DockerTS-SplitterPanel__ContainerWrapper {
    position: relative;
}
