

.DockerTS-SplitterBar {
    background: var(--docker-ts-primary-inactive-color);
}

.DockerTS-SplitterBar:hover {
    background: var(--docker-ts-primary-dark-color);
}

.DockerTS-SplitterBar--Row {
    position: relative;
    min-width: 2px;
    width: 2px;
    z-index: 2;
}

.DockerTS-SplitterBar--Row::after {
    content: " ";
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    transform: translate(-50%, 0);
    cursor: col-resize;
    width: 14px;
    background: black;
    opacity: 0;
}

.DockerTS-SplitterBar--Row:hover::after {
    opacity: 0.5;
    transition-delay: 500ms;
    transition-property: opacity;
    transition-duration: 750ms;
}

.DockerTS-SplitterBar--Row:active::after {
    opacity: 0.5;
}

.DockerTS-SplitterBar--Column {
    display: inline-block;
    position: relative;
    min-height: 2px;
    height: 2px;
    z-index: 2;
}

.DockerTS-SplitterBar--Column::after {
    content: " ";
    position: absolute;
    cursor: row-resize;
    left: 0;
    width: 100%;
    top: 50%;
    height: 14px;
    transform: translate(0, -50%);
    background: black;
    opacity: 0;
}

.DockerTS-SplitterBar--Column:hover::after {
    opacity: 0.5;
    transition-delay: 500ms;
    transition-property: opacity;
    transition-duration: 750ms;
}

.DockerTS-SplitterBar--Column:active::after {
    opacity: 0.5;
}