
.DockerTS-FrameHeader {
    display: grid;
    grid-template-columns: 1fr auto;

    overflow: hidden;

    user-select: none;

    color: var(--docker-ts-inactive-on-color);
    background: var(--docker-ts-inactive-color);
}

.DockerTS-FrameHeader--Selected {
    color: var(--docker-ts-primary-on-color);
    background: var(--docker-ts-primary-color);
}

.DockerTS-HeaderTitleBar {
    display: grid;
    grid-template-columns: auto 1fr;

    cursor: pointer;

    column-gap: 7px;

    box-sizing: border-box;
    padding: 3px 4px;
}

.DockerTS-HeaderTitleText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.DockerTS-PanelContent {
    display: grid;
    grid-template-rows: 100%;
    grid-auto-columns: 100%;
}

/* CSS Class Hosting the panel header and content */
.DockerTS-ContentFrame {
    z-index: 1;
    position: absolute;
    display: grid;
    grid-template-rows: auto 1fr;

    border: 1px solid darkgray;
}

.DockerTS-ContentFrame.DockerTS-ContentFrame--NoHeader {
    grid-template-rows: 100%;
}

.DockerTS-ContentContainer {
    overflow: hidden;
    background: whitesmoke;
}

.DockerTS-MaximizeRegionHost {
    box-sizing: border-box;
    position: absolute;    
    display: grid;
    grid-template-rows: auto 1fr;
    background: red;
}

.DockerTS-PanelPlaceholder {
}