

/* ScrollPanelDemo.css */

 .p-scrollpanel.custombar1 .p-scrollpanel-wrapper {
    border-right: 10px solid var(--surface-ground);
}

 .p-scrollpanel.custombar1 .p-scrollpanel-bar {
    background-color: var(--cyan-800);
    opacity: 1;
    transition: background-color .3s;
}

 .p-scrollpanel.custombar1 .p-scrollpanel-bar:hover {
    background-color: var(--cyan-900);
}

 .p-scrollpanel.custombar2 .p-scrollpanel-wrapper {
    border-right: 10px solid var(--surface-50);
    border-bottom: 10px solid var(--surface-50);
}

 .p-scrollpanel.custombar2 .p-scrollpanel-bar {
    background-color: var(--surface-300);
    border-radius: 0;
    opacity: 1;
    transition: background-color .3s;
}

 .col-12 {
    padding: 2rem;
}
