
.DockerTS-TabStrip {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 1.6rem;
}

.DockerTS-TabStrip__Separator {
    background: var(--docker-ts-primary-color);
    height: 5px;
}