
.DockerTS-TabHost {
    display: grid;
}

.DockerTS-TabHost--Top {
    grid-template-rows: auto auto 1fr;
}

.DockerTS-TabHost--Bottom {
    grid-template-rows: 1fr auto auto;
}

.DockerTS-TabContent {
    display: grid;
}

.DockerTS-TabStrip {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 1.6rem;
    background: lightgray;
}

.DockerTS-TabStrip__Separator {
    background: var(--docker-ts-primary-color);
    height: 5px;
}

.DockerTS-TabPage--ContentWrapper {
    display: grid;
}