
.DockerTS-Dialog {
    position: absolute;
    border: 1px solid #888;
    background: transparent;
    pointer-events: none;
    
    //box-sizing: border-box;


    /* Note - CSS style of shadow taken from the CSS Tailwind Framework */
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
