
.DockerTS-ResizeHandle {
    pointer-events: all;
}

.ResizeHandler--North {
    position: absolute;
    left: var(--docker-ts-corner-handle-size);
    right: var(--docker-ts-corner-handle-size);
    top: calc(0px - var(--docker-ts-resize-handle-size) / 2);
    height: var(--docker-ts-resize-handle-size);
    cursor: n-resize;
}

.ResizeHandler--South {
    position: absolute;
    left: var(--docker-ts-corner-handle-size);
    right: var(--docker-ts-corner-handle-size);
    bottom: calc(0px - var(--docker-ts-resize-handle-size) / 2);
    height: var(--docker-ts-resize-handle-size);
    cursor: s-resize;
}

.ResizeHandler--West {
    position: absolute;
    top: var(--docker-ts-corner-handle-size);
    bottom: var(--docker-ts-corner-handle-size);
    left: calc(0px - var(--docker-ts-resize-handle-size) / 2);
    width: var(--docker-ts-resize-handle-size);
    cursor: w-resize;
}

.ResizeHandler--East {
    position: absolute;
    top: var(--docker-ts-corner-handle-size);
    bottom: var(--docker-ts-corner-handle-size);
    right: calc(0px - var(--docker-ts-resize-handle-size) / 2);
    width: var(--docker-ts-resize-handle-size);
    cursor: e-resize;
}


.ResizeHandler--NorthEast {
    position: absolute;
    right: calc(0px - var(--docker-ts-resize-handle-size) / 2);
    top: calc(0px - var(--docker-ts-resize-handle-size) / 2);
    width: calc(var(--docker-ts-corner-handle-size) + var(--docker-ts-resize-handle-size) / 2);
    height: calc(var(--docker-ts-corner-handle-size) + var(--docker-ts-resize-handle-size) / 2);
    cursor: ne-resize;
}

.ResizeHandler--NorthWest {
    position: absolute;
    left: calc(0px - var(--docker-ts-resize-handle-size) / 2);
    top: calc(0px - var(--docker-ts-resize-handle-size) / 2);
    width: calc(var(--docker-ts-corner-handle-size) + var(--docker-ts-resize-handle-size) / 2);
    height: calc(var(--docker-ts-corner-handle-size) + var(--docker-ts-resize-handle-size) / 2);
    cursor: nw-resize;
}

.ResizeHandler--SouthEast {
    position: absolute;
    right: calc(0px - var(--docker-ts-resize-handle-size) / 2);;
    bottom: calc(0px - var(--docker-ts-resize-handle-size) / 2);;
    width: calc(var(--docker-ts-corner-handle-size) + var(--docker-ts-resize-handle-size) / 2);
    height: calc(var(--docker-ts-corner-handle-size) + var(--docker-ts-resize-handle-size) / 2);
    cursor: se-resize;
}

.ResizeHandler--SouthWest {
    position: absolute;
    left: calc(0px - var(--docker-ts-resize-handle-size) / 2);;
    bottom: calc(0px - var(--docker-ts-resize-handle-size) / 2);;
    width: calc(var(--docker-ts-corner-handle-size) + var(--docker-ts-resize-handle-size) / 2);
    height: calc(var(--docker-ts-corner-handle-size) + var(--docker-ts-resize-handle-size) / 2);
    cursor: sw-resize;
}
