.DockerTS-ResizeHandle {
    pointer-events: all;
}

.DockerTS-ResizeHandle::after {
    content: " ";
    opacity: 0;
}

.DockerTS-ResizeHandle:hover::after {
    content: " ";
    background: darkcyan;
    opacity: 0.35;
    border-radius: calc(var(--rh-handle-size) / 2);
    transition-delay: 550ms;
    transition-duration: 700ms;
    transition-property: opacity;
}

.DockerTS-ResizeHandle:active::after {
    opacity: 0.5;
}

.ResizeHandler--North {
    position: absolute;
    left: var(--rh-corner-size);
    right: var(--rh-corner-size);
    top: calc(0px - var(--rh-handle-size) / 2);
    height: var(--rh-handle-size);
    cursor: n-resize;
}

.ResizeHandler--North:hover::after {
    content: " ";
    position: absolute;
    left: calc(-1px - var(--rh-corner-size));
    top: 0;
    right: calc(-1px - var(--rh-corner-size));;
    height: var(--rh-handle-size);
}

.ResizeHandler--South {
    position: absolute;
    left: var(--rh-corner-size);
    right: var(--rh-corner-size);
    bottom: calc(0px - var(--rh-handle-size) / 2);
    height: var(--rh-handle-size);
    cursor: s-resize;
}

.ResizeHandler--South:hover::after {
    content: " ";
    position: absolute;
    left: calc(-1px - var(--rh-corner-size));
    bottom: 0;
    right: calc(-1px - var(--rh-corner-size));;
    height: var(--rh-handle-size);
}


.ResizeHandler--West {
    position: absolute;
    top: var(--rh-corner-size);
    bottom: var(--rh-corner-size);
    left: calc(0px - var(--rh-handle-size) / 2);
    width: var(--rh-handle-size);
    cursor: w-resize;
}

.ResizeHandler--West:hover::after {
    content: " ";
    position: absolute;
    top: calc(-1px - var(--rh-corner-size));
    left: 0;
    bottom: calc(-1px - var(--rh-corner-size));;
    width: var(--rh-handle-size);
}

.ResizeHandler--East {
    position: absolute;
    top: var(--rh-corner-size);
    bottom: var(--rh-corner-size);
    right: calc(0px - var(--rh-handle-size) / 2);
    width: var(--rh-handle-size);
    cursor: e-resize;
}

.ResizeHandler--East:hover::after {
    content: " ";
    position: absolute;
    top: calc(-1px - var(--rh-corner-size));
    right: 0;
    bottom: calc(-1px - var(--rh-corner-size));;
    width: var(--rh-handle-size);
}


.ResizeHandler--NorthEast {
    position: absolute;
    right: 0;
    top: 0;
    width: var(--rh-corner-size);
    height: var(--rh-corner-size);
    cursor: ne-resize;
}

.ResizeHandler--NorthWest {
    position: absolute;
    left: 0;
    top: 0;
    width: var(--rh-corner-size);
    height: var(--rh-corner-size);
    cursor: nw-resize;
}

.ResizeHandler--SouthEast {
    position: absolute;
    right: 0;
    bottom: 0;
    width: var(--rh-corner-size);
    height: var(--rh-corner-size);
    cursor: se-resize;
}

.ResizeHandler--SouthWest {
    position: absolute;
    left: 0;
    bottom: 0;
    width: var(--rh-corner-size);
    height: var(--rh-corner-size);
    cursor: sw-resize;
}
