

.DockerTS-ContextMenu {
    position: absolute;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    visibility: hidden;

    border: 1px solid var(--docker-ts-context-menu-border-color);

    /* Note - CSS style of shadow taken from the CSS Tailwind Framework */
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

    color: var(--docker-ts-context-menu-color);
    background-color: var(--docker-ts-context-menu-background);
}

.DockerTS-ContextMenu--Visible {
    visibility: visible;
}

.DockerTS-MenuItem {
    padding: 5px 10px;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.DockerTS-MenuItem__Icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    min-width: 1.25rem;

    width: 1.5em;
    height: 1em;

    fill: var(--docker-ts-primary-on-color);
    stroke: var(--docker-ts-primary-on-color);

}

.DockerTS-MenuItem__Icon svg {
    width: 1em;
    height: 1em;
}


.DockerTS-MenuItem:hover {
    color: var(--docker-ts-primary-on-color);
    background: var(--docker-ts-primary-color);
}

.DockerTS-MenuItem--Disabled {
    opacity: 0.5;
}

.DockerTS--Separator {
    height: 1px;
    background: var(--docker-ts-context-menu-border-color);
    margin: 0px 0;
}
