
.IconButton {
    width: 1em;
    height: 1em;

    color: var(--docker-ts-primary-on-color);
    fill: var(--docker-ts-primary-on-color);
    stroke: var(--docker-ts-primary-on-color);

    cursor: pointer;
    
    display: flex;
    align-items: center;

    padding-right: 0.3rem;
}

.IconButton svg {
    width: inherit;
    height: inherit;
}

.IconButton:hover {
    fill: var(--docker-ts-hover-button-color);
    stroke: var(--docker-ts-hover-button-color);
    color: var(--docker-ts-hover-button-color);

}

.IconButton.IconButton--Hidden {
    display: none;
}