
:root {
    --docker-ts-primary-color: #008749;
    --docker-ts-primary-dark-color: darkgreen;
    --docker-ts-primary-on-color: whitesmoke;
    --docker-ts-inactive-color: gray;
    --docker-ts-inactive-on-color: lightgray;
    --docker-ts-primary-inactive-color: #444;
    --docker-ts-hover-button-color: orangered;

    --docker-ts-context-menu-background: lightgray;
    --docker-ts-context-menu-color: #444;
    --docker-ts-context-menu-border-color: #999;

    --docker-ts-tabstrip-background: #727272;

    --rh-handle-size: 8px;
    --rh-corner-size: 10px;
}

.DockerTS--DisableSelection {
    user-select: none;
}



