
:root {
    --docker-ts-primary-color: #5E6C85;
    --docker-ts-primary-dark-color: #556178;
    --docker-ts-primary-on-color: whitesmoke;
    --docker-ts-inactive-color: #333A47;
    --docker-ts-inactive-on-color: lightgray;
    --docker-ts-primary-inactive-color: #333A47;
    --docker-ts-hover-button-color: orangered;
    --docker-ts-selected-color: #4A5569;
    --docker-ts-selected-dark-color: #465063;

    --docker-ts-context-menu-background: #3D4657;
    --docker-ts-context-menu-color: whitesmoke;
    --docker-ts-context-menu-border-color: #57637A;

    --docker-ts-resize-handle-hover-color: #4F5B70;

    --docker-ts-tabstrip-background: #B2C1D6;

    --docker-ts-document-manager-background: #B2C1D6;
    --docker-ts-collapser-margin-background: #B2C1D6;
}

.DockerTS--DisableSelection {
    user-select: none;
}

.DockerTS-DockContainer {
    background: var(--docker-ts-collapser-margin-background);
}

.DockerTS-DockContent {
    outline: 1px solid rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.DockerTS-ProgressLoader {
    height: 100%;
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    font-size: 5rem;
}

@keyframes docker-ts-progress-rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.DockerTS-ProgressLoader svg {
    width: 1em;
    height: 1em;
    opacity: 0.5;
    animation: docker-ts-progress-rotating 2s linear infinite;
}